{{ header }}
<div id="information-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <!--div>{{ my_text }}</div-->
      {{ content_bottom }}

        {{ content_error }}
        <div id="flp-sms-verification" {{ my_style }}>
            <div id="flp_sms" class="page-width">
              <div id="sms_err" style="background-color:#f8d7da;color:#7d5880;padding:10px;margin-bottom:20px;font-size:1em;display:none;"></div>
              <p id="sms_info_display">{{ flp_sms_instruction }}</p>
              <label for="phone_number" id="enter_phone_number">
                <input type="text" name="phone_number" id="phone_number" value="">
              </label>
              <span id="sms_phone_info" style="margin-bottom:15px;display:none;"></span>
              <div id="sms_otp" style="display: none;"><span style="font-weight:bold;">Please enter OTP (One Time Passcode):</span><br/><input type="text" name="sms_otp1" id="sms_otp1" value="" style="width:130px; background-color:#bbb;">&nbsp;&nbsp;-&nbsp;&nbsp;<input type="text" name="sms_otp2" id="sms_otp2" value="" placeholder="Enter 6-digits OTP"></div>
              <p id="resend_otp_text" style="display:none;">Didn't receive the OTP code? <a href="javascript:;" name="resend_otp" id="resend_otp" value="Resend OTP" >Resend</a></p>
              <div id="sms_section"></div><br/>
              <input class="btn btn-light" type="button" name="submit_otp" id="submit_otp" value="Submit OTP" style="display: none;">
              <input class="btn btn-light" type="button" name="get_otp" id="get_otp" value="Get OTP">
              <input class="btn btn-secondary" type="button" name="reset_pn" id="reset_pn" value="Reset Phone" style="display: none;">
              <input type="hidden" name="sms_phone_cc" id="sms_phone_cc" value="{{ flp_sms_tel_cc }}">
              <input type="hidden" name="sms_verified" id="sms_verified" value="">
              <input type="hidden" name="sms_tran_id" id="sms_tran_id" value="">
              <input type="hidden" name="sms_order_id" id="sms_order_id" value="{{ flp_sms_order_id }}">
              <input type="hidden" name="sms_code" id="sms_code" value="{{ flp_sms_code }}"></div>
            <div id="sms_success_status" style="text-align:center;background-color:#d4edda;color:#2e7769;padding:1.5rem;display:none;">Thank you. You have successfully completed the SMS verification.</div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.5/js/intlTelInput.min.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.5/css/intlTelInput.min.css">
        <style>
            input[type=text]:disabled {
                background: #dddddd;
            }
        </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
        jQuery(document).ready(function(){
            var phoneNum, phoneNo, defaultCc;
            var msg_otp_success = "{{ flp_sms_msg_otp_success }}";
            msg_otp_success = msg_otp_success.split("{phone}");
            var msg_otp_fail = "{{ flp_sms_msg_otp_fail }}";
            msg_otp_fail = msg_otp_fail.split("{phone}");
            var msg_invalid_phone = "{{ flp_sms_msg_invalid_phone }}";
            var msg_invalid_otp = "{{ flp_sms_msg_invalid_otp }}";

            jQuery(document).ready(function() {
                if(jQuery("#sms_phone_cc").length ){
                    defaultCc = jQuery("#sms_phone_cc").val();
                } else {
                    defaultCc = 'US';
                }
                phoneNum = window.intlTelInput(document.querySelector("#phone_number"), {
                    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.5/js/utils.min.js",
                    separateDialCode: true,
                    initialCountry: defaultCc
                });
            });

            jQuery("#sms_otp2").bind("keypress", function(e){
                var code = e.keyCode || e.which;
                if (code == 13){
                    e.preventDefault();
                }
            });

            jQuery("#get_otp").click(function(e){
                if (typeof phoneNum == 'undefined') {
                    phoneNo = jQuery("#phone_number").val();
                } else {
                    phoneNo = phoneNum.getNumber();
                }

                if (jQuery("#phone_number").val() == "") {
                    jQuery("#sms_err").html(msg_invalid_phone);
                    jQuery("#sms_err").show();
                    jQuery("#phone_number").focus();
                }else if (!confirm("Send OTP to " + phoneNo + "?")) {
                    e.preventDefault();
                } else {
                    doOTP();
                }
            });

            jQuery("#resend_otp").click(function(e){
                if (typeof phoneNum == 'undefined') {
                    phoneNo = jQuery("#phone_number").val();
                } else {
                    phoneNo = phoneNum.getNumber();
                }

                if(typeof(Storage) !== "undefined"){
                    if (sessionStorage.resent_count){
                        sessionStorage.resent_count = Number(sessionStorage.resent_count)+1;
                    } else {
                        sessionStorage.resent_count = 1;
                    }

                    if(sessionStorage.resent_count == 3){
                        jQuery("#sms_err").html("Error: Maximum number of retries to send verification SMS exceeded. Please wait for your OTP code.");
                        jQuery("#sms_err").show();
                        jQuery("#get_otp").hide();
                        jQuery("#resend_otp_text").hide();
                        jQuery("#resend_otp").hide();
                        jQuery("#reset_pn").hide();
                    } else {
                        if (!confirm("Send OTP to " + phoneNo + "?")) {
                            e.preventDefault();
                        } else {
                            doOTP();
                        }
                    }
                }
            });

            if(sessionStorage.resent_count >= 3){
                jQuery("#sms_err").html("Error: Maximum number of retries to send verification SMS exceeded. Please wait for your OTP code.");
                jQuery("#sms_err").show();
                jQuery("#get_otp").hide();
                jQuery("#resend_otp_text").hide();
                jQuery("#resend_otp").hide();
                jQuery("#reset_pn").hide();
            }

            jQuery("#submit_otp").click(function(){
                checkOTP();
            });

            jQuery("#reset_pn").click(function() {
                self.parent.location.reload();
            });

            function doOTP(){
                if (typeof phoneNum == 'undefined') {
                    phoneNo = jQuery("#phone_number").val();
                } else {
                    phoneNo = phoneNum.getNumber();
                }

                var data ={
                    "tel": phoneNo,
                    "tel_cc": phoneNum.getSelectedCountryData().iso2.toUpperCase(),
                    "sms_order_id": jQuery("#sms_order_id").val()
                };
                jQuery.ajax({
                    type: "POST",
                    url: "index.php?route=extension/fraudlabsprosmsverification/fraud/fraudlabsprosmsverification|sms_send",
                    data: data,
                    success: sms_doOTP_success,
                    error: sms_doOTP_error,
                    dataType: "text"
                });
            }

            function sms_doOTP_success(data){
                if (typeof phoneNum == 'undefined') {
                    phoneNo = jQuery("#phone_number").val();
                } else {
                    phoneNo = phoneNum.getNumber();
                }

                if (data.indexOf("ERROR") == 0) {
                    jQuery("#sms_err").html(msg_otp_fail[0] + phoneNo + msg_otp_fail[1]);
                    jQuery("#sms_err").show();
                } else if(data.indexOf("OK") == 0){
                    jQuery("#sms_tran_id").val(data.substr(2,20));
                    jQuery("#get_otp").hide();
                    jQuery("#resend_otp_text").show();
                    jQuery("#resend_otp").show();
                    jQuery("#submit_otp").show();
                    jQuery("#sms_otp").show();
                    jQuery("#sms_otp1").val(data.substr(22,6));
                    jQuery("#phone_number").prop("disabled", true);
                    jQuery("#sms_otp1").prop("disabled", true);
                    jQuery("#reset_pn").show();
                    jQuery("#sms_phone_info").html(msg_otp_success[0] + phoneNo + msg_otp_success[1]);
                    jQuery("#sms_phone_info").show();
                    jQuery("#sms_info_display").hide();
                    jQuery("#enter_phone_number").hide();
                    jQuery("#sms_err").hide();
                }
            }

            function sms_doOTP_error(){
                if (typeof phoneNum == 'undefined') {
                    phoneNo = jQuery("#phone_number").val();
                } else {
                    phoneNo = phoneNum.getNumber();
                }

                jQuery("#sms_err").html(msg_otp_fail[0] + phoneNo + msg_otp_fail[1]);
                jQuery("#sms_err").show();
            }

            function checkOTP(){
                if (typeof phoneNum == 'undefined') {
                    phoneNo = jQuery("#phone_number").val();
                } else {
                    phoneNo = phoneNum.getNumber();
                }

                var data ={
                    "otp": jQuery("#sms_otp1").val() + "-" + jQuery("#sms_otp2").val(),
                    "tran_id": jQuery("#sms_tran_id").val(),
                    "sms_order_id": jQuery("#sms_order_id").val(),
                    "sms_code": jQuery("#sms_code").val(),
                    "sms_tel": phoneNo
                };
                jQuery.ajax({
                    type: "POST",
                    url: "index.php?route=extension/fraudlabsprosmsverification/fraud/fraudlabsprosmsverification|sms_verify",
                    data: data,
                    success: sms_checkOTP_success,
                    error: sms_checkOTP_error,
                    dataType: "text"
                });
            }

            function sms_checkOTP_success(data){
                if (data.indexOf("ERROR 601") == 0){
                    jQuery("#sms_err").html(msg_invalid_otp);
                    jQuery("#sms_err").show();
                } else if (data.indexOf("ERROR 600") == 0){
                    jQuery("#sms_err").html("Error: Error while performing verification.");
                    jQuery("#sms_err").show();
                } else if (data.indexOf("OK") == 0){
                    jQuery("#sms_verified").val("YES");
                    if(typeof(Storage) !== "undefined") {
                        sessionStorage.sms_vrf = "YES";
                        sessionStorage.resent_count = 0;
                    }
                    jQuery("#sms_otp").hide();
                    jQuery("#submit_otp").hide();
                    jQuery("#get_otp").hide();
                    jQuery("#resend_otp_text").hide();
                    jQuery("#resend_otp").hide();
                    jQuery("#reset_pn").hide();
                    jQuery("#sms_phone_info").hide();
                    jQuery("#sms_err").hide();
                    jQuery("#sms_box").hide();
                    jQuery("#flp_sms").hide();
                    jQuery("#sms_success_status").show();
                    jQuery("#flp_box_link").hide();
                    jQuery("#flp_box_success").show();
                }
            }

            if(sessionStorage.sms_vrf == "YES"){
                jQuery("#sms_verified").val("YES");
                jQuery("#sms_otp").hide();
                jQuery("#submit_otp").hide();
                jQuery("#get_otp").hide();
                jQuery("#resend_otp_text").hide();
                jQuery("#resend_otp").hide();
                jQuery("#reset_pn").hide();
                jQuery("#sms_phone_info").hide();
                jQuery("#sms_box").hide();
                jQuery("#flp_sms").hide();
                jQuery("#sms_success_status").show();
                jQuery("#flp_box_link").hide();
                jQuery("#flp_box_success").show();
            }

            function sms_checkOTP_error(){
                jQuery("#sms_err").html("Error: Could not perform SMS verification.");
                jQuery("#sms_err").show();
            }
          });
          </script>

    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}